.product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    background: #2C7873;
    margin-top: 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
}