.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 15px;
    width: 30%;
    background: #2C7873;
    border: 2px solid #021C1E;
    border-radius: 10px;
    width: 35%;
    margin-right: 10px;
}

@media only screen and (max-width: 580px){
    .toolbar{
        width:100%;
    }
}
