.category {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    background: #004445;
    border: 1px solid #021C1E;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.categories__field::-webkit-scrollbar{
    cursor: pointer;
    width: 13px;
    cursor: pointer;
    background-color: #2C7873;
    outline: 1px solid rgb(1, 50, 70);
    border-radius: 10px;
}

.categories__field::-webkit-scrollbar-thumb{
    position: absolute;
    z-index: 1;
    width: 5%;
    background-color: #004445;
    border-width:2px;
    border-style: solid;
    border-color:#64A08F;
    border-radius: 10px;
}

.categories__field {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: #004445;
    margin-top: 10px;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.categories__title {
    color: white;
    font-size: 32px;
    font-weight: bold;
}