.basket {
    display: flex;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.basket__count {
    margin-right: 10px;
}

.basket__img {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}