* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}

#root{
    min-height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
}
/*Main-page*/
.main-page{
    overflow-x: hidden;
    flex: 1 1 auto;
    position: relative;
    width:100%;
}
.btn-primary {
    padding: 5px;
    background: white;
    border-color: #004445;
    border-radius: 10px;
}
/**/
/*Product-page*/
.product-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width:100%;
}
.product-page-main{
    background-color: #6FB98F;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height:100%;
    width: 100%;
}
/**/
/*Basket-page*/
.basket-page {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.basket-page-field {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #6FB98F;
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
}

.basket-page__description {
    width: 60%;
    border: 1px solid white;
    border-radius: 9px;
}

.basket-page__title {
    font-size: 25px;
    border: 1px solid white;
    border-radius: 9px;
    padding: 5px;
    width: 100%;
    font-weight: bold;
}

.basket-page__description__catalog {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.basket-page__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 9px;
    width: 30%;
}
/**/

