* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
}

.btn-primary {

    padding: 5px;
    background: white;
    border-color: #004445;
    border-radius: 10px;
}