.product__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 10px;
    /* background: url(https://i.dummyjson.com/data/products/1/thumbnail.jpg); */
}